.footer{

    &__container{
        @include flex(flex, space-between, flex-start, row, nowrap);

        @media(max-width: $mq-2){
            flex-direction: column;
            max-width: 80%;
            padding-left: 0;
        }
        @media(max-width: $mq-3){ max-width: 100%; }
    }
    &__left{
        max-width: 376px;
        padding-right: 15px;

        @media(max-width: $mq-2){
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 100%;
            width: 100%;
            margin: 0 auto;
        }
    }
        &__info{
            display: flex;
            flex-direction: column;
            width: 100%;

            @media(max-width: $mq-2){
                justify-content: center;
                align-items: center;
            }
        }
            &__img{
                max-width: 95px;
                margin-bottom: 30px;
            }
            &__description{
                @include f-description();
                font-size: 14px;
                margin-bottom: 25px;
            }
            &__social{
                display: flex;
                &-icon{
                    max-width: 25px;
                    height: 18px;
                    margin-right: 30px;
                    object-fit: contain;
                }
            }
        &__form{
            display: flex;
            margin-bottom: 30px;
            max-width: 300px;

            @media(max-width: $mq-2){
                max-width: 100%;
                width: 100%;
                order: 2;
            }
            &-input{
                @include f16-wm();
                height: 60px;
                width: 100%;
                padding: 0 15px;
                border-radius: $border-radius;
                border: $border-color;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            &-submit{
                width: 100px;
                padding: 8px;
            }
        }
        &__social{ margin-bottom: 30px; }
    /********/
    &__right{
        display: flex;
        flex-grow: 1;
        padding-left: 200px;

        @media(max-width: $mq-2){
            max-width: 100%;
            width: 100%;
            padding-left: 0;
        }
    }
        &__links{
            display: flex;
            justify-content: space-between;
            width: 100%;

            @media(max-width: $mq-5){ flex-direction: column; }
            &-list{
                display: flex;
                flex-direction: column;

                @media(max-width: $mq-5){ margin-bottom: 30px; }
            }
            &-title{
                @include f16-wm();
                color: $black;
                text-transform: uppercase;
                font-weight: 600;
                margin-bottom: 20px;
            }
            &-item{
                @include f16-wm();
                margin-bottom: 22px;
            }
        }
        &__terms{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 80px;

            max-width: $max-container;
            width: 100%;

            @media(max-width: $mq-2){
                padding-left: 0;
                max-width: 80%;
            }
            @media(max-width: $mq-3){
                flex-direction: column-reverse;
                max-width: 100%;
            }

            &-link{
                @include f16-wm();
                font-size: 12px;
                color: $gray;
                text-align: center;
            }
            &-button{
                @media(max-width: $mq-5){
                    margin-bottom: 20px;
                    width: 100%;
                }
            }
        }
}
