.header{
    &__container{
        @include flex(flex, space-between, center, row, nowrap);
        width: 100%;
        max-width: $max-width;
        padding: var(--gap-v) var(--gap-h);
    }
    &__left{ display: flex; }
        &__img{
            width: 95px;
            height: 35px;
            object-fit: contain;
        }
    &__right{
        display: flex;
        align-items: center;
    }
    &__logo{ margin-right: 35px; }
        &__link{
            @include f16-wm();
            margin-right: 35px;

            @media(max-width: $mq-4){ display: none; }
        }
        &__trigger{
            display: none;
            margin-left: var(--gap-sh);
            z-index: 101;
            @media(max-width: $mq-4){ display: inherit;}
        }
}
.main-menu{
    display: flex;
    justify-content: center;

    @media(max-width: $mq-4){
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(-100%);
        transition: 250ms linear;
        background-color: $white;
    }
    &__list{
        @include flex(flex, center, center, row, nowrap);

        @media(max-width: $mq-4){
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            padding: var(--gap-sh);
        }
    }
        &__item{ position: relative; }
        &__link{
            @media(max-width: $mq-4){
                font-size: 32px;
                line-height: 1.6;
            }
        }
}
