footer.footer
    div.footer__container.g-container
        div.footer__left
            div.footer__info
                img.footer__img(src="img/logo.svg" alt="logo")
                p.footer__description Bello is a trading name of Bello Insurance Services LLC. Bello policies are issued by [Insert Underwriter here].
            form.footer__form
                input(placeholder="Your email address").footer__form-input
                a().footer__form-submit.g-button.g-button--submit go
                    svg(xmlns='http://www.w3.org/2000/svg' width='30.296' height='14.884' viewbox='0 0 30.296 14.884')
                        path#Shape(d='M19.653,8.852c-.05-.622-.149-1.339,0-1.388a15.881,15.881,0,0,1,2.977-.717C15.087,5.55,7.543,4.4.049,3.253c-.148,0,.1-2.51,0-2.536C8.288,1.962,16.577,3.254,24.815,4.546c-.745-.671-1.539-1.292-2.283-1.962-.148-.144,0-1.1,0-1.292S22.68.143,22.531,0L27,3.875c.4.335.794.718,1.192,1.053.248.239.644.43.744.814a9.529,9.529,0,0,1,0,2.057v.478c0-.048-.049-.048-.049-.1-.1.335-.347.383-.894.479-.943.191-1.886.239-2.829.335a21.5,21.5,0,0,0-4.964.813.048.048,0,0,1-.049.049c-.149.048-.347.1-.5.143ZM.049.717h0Z' transform='matrix(0.985, -0.174, 0.174, 0.985, 0, 5.036)' fill='#ffffff')
            div.footer__social
                a(href="").footer__social-link
                    img.footer__social-icon(src="img/facebook.svg" alt="icon")
                a(href="").footer__social-link
                    img.footer__social-icon(src="img/instagram.svg" alt="icon")
                a(href="").footer__social-link
                    img.footer__social-icon(src="img/youtube.svg" alt="icon")
                a(href="").footer__social-link
                    img.footer__social-icon(src="img/linkedin.svg" alt="icon")
                a(href="").footer__social-link
                    img.footer__social-icon(src="img/tiktok.svg" alt="icon")
        div.footer__right
            div.footer__links
                ul.footer__links-list
                    h4.footer__links-title Resources
                    a(href="#").footer__links-item Term life insurance plans
                    a(href="#").footer__links-item Insurance calculator
                    a(href="#").footer__links-item Guide to life insurance
                    a(href="#").footer__links-item Contact
                    a(href="#").footer__links-item FAQs
                ul.footer__links-list
                    h4.footer__links-title Magazine
                    a(href="#").footer__links-item Insurance
                    a(href="#").footer__links-item Finances
                    a(href="#").footer__links-item Health
                    a(href="#").footer__links-item Updates
                ul.footer__links-list
                    h4.footer__links-title More
                    a(href="#").footer__links-item Claims
                    a(href="#").footer__links-item Terms
                    a(href="#").footer__links-item Privacy
                    a(href="#").footer__links-item Licenses            
    div.footer__terms
        p.footer__terms-link © 2020 Bello insurance Services LLC. All right reserved.
        button.footer__terms-button.g-button get my price
