section.hands
    div.hands__container.g-container
        picture.hands__picture-top.to-top
            img(src="img/hands-top.png" alt="hands").hands__picture-image
        div.hands__info.to-top
            span.hands__subtitle Top-Rated Term Life Insurance
            h2.hands__title You’re in safe hands
            p.hands__description We've partnered with, [insert underwriter], one of the world’s largest, most trusted insurance companies. This means we can ensure reliability in paying Claims.
        div.hands-cards
            div.hands-card__item.to-right
                video.hands-card__video(autoplay muted loop)
                    source.hands-card__source(src="img/hands-video1.webm" type="video/webm")
                div.hands-card__info
                    h4.hands-card__title Top Rated
                    p.hands-card__description A+ Financial Strength Rating by A.M. Best. 
            div.hands-card__item.to-right2
                video.hands-card__video(autoplay muted loop)
                    source.hands-card__source(src="img/hands-video2.webm" type="video/webm")
                div.hands-card__info
                    h4.hands-card__title Expert Guidance
                    p.hands-card__description We've placed millions of dollars in coverage people nationwide.
            div.hands-card__item.to-right3
                video.hands-card__video(autoplay muted loop)
                    source.hands-card__source(src="img/hands-video3.webm" type="video/webm")
                div.hands-card__info
                    h4.hands-card__title We care
                    p.hands-card__description We care about you. We’re a 5 star insurance company. Well… Close enough! 
        picture.hands__picture-bottom.to-left
            img(src="img/hands-bottom.png" alt="hands").hands__picture-image
            
