header.header#header
    div.header__container
        div.header__left
            a(href="#").header__logo
                img.header__icon(src="img/logo.svg" alt="logo")    
            nav.main-menu#main-menu
                ul.main-menu__list
                    li.main-menu__item
                        a(href="#").main-menu__link.g-link Life insurance
                    li.main-menu__item
                        a(href="#").main-menu__link.g-link Why Bello
                    li.main-menu__item
                        a(href="#").main-menu__link.g-link Help
        div.header__right
            a(href="#").header__link Log in
            button.header__button.g-button get my price
            a(href="#").header__trigger#header-trigger
                img.header__icon(src="img/menu.svg" alt="menu")    
            
